name: ci
on:
  push:
    branches: [main, release/*, release]
  pull_request:
  workflow_dispatch:
    inputs:
      force_deploy_server:
        description: 'Force server deploy'
        type: boolean
        default: false

jobs:
  prepare:
    runs-on: ubuntu-latest
    outputs:
      server: ${{ steps.server.outputs.any_changed }}
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: changed files for server
        id: server
        uses: reearth/changed-files@9200e69727eb73eb060652b19946b8a2fdfb654b
        with:
          files: |
            server/
            .github/workflows/ci.yml
            .github/workflows/ci_server.yml
            .github/workflows/build_server.yml
            .github/workflows/deploy_server_dev.yml
            .github/workflows/deploy_server_nightly.yml

      - name: Check server output
        run: echo "server=${{ steps.server.outputs.any_changed }}"

  ci-server:
    needs: prepare
    if: needs.prepare.outputs.server == 'true'
    uses: ./.github/workflows/ci_server.yml
    secrets: inherit

  ci:
    runs-on: ubuntu-latest
    needs:
      - ci-server
    if: ${{ !failure() }}
    steps:
      - run: echo OK

  ci-collect-info:
    needs: ci
    if: ${{ !failure() }}
    runs-on: ubuntu-latest
    outputs:
      sha_short: ${{ steps.info.outputs.sha_short || 'blank' }}
      new_tag: ${{ steps.info.outputs.new_tag || 'blank' }}
      new_tag_short: ${{ steps.info.outputs.new_tag_short || 'blank' }}
      name: ${{ steps.info.outputs.name || 'blank' }}
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Fetch tags
        run: git fetch --prune --unshallow --tags

      - name: Get info
        id: info
        env:
          BRANCH: ${{ github.head_ref || github.ref_name }}
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
          echo "BRANCH=$BRANCH"
          if [[ "$BRANCH" = "release" || "$BRANCH" = "release/"* ]]; then
            TAG=$(git tag --points-at HEAD)
            if [[ ! -z "$TAG" ]]; then
              echo "new_tag=$TAG" >> $GITHUB_OUTPUT
              echo "new_tag_short=${TAG#v}" >> $GITHUB_OUTPUT
            else
              echo "name=rc" >> $GITHUB_OUTPUT
            fi
          else
            echo "name=nightly" >> $GITHUB_OUTPUT
          fi

      - name: Show info
        env:
          SHA_SHORT: ${{ steps.info.outputs.sha_short }}
          NEW_TAG: ${{ steps.info.outputs.new_tag }}
          NEW_TAG_SHORT: ${{ steps.info.outputs.new_tag_short }}
          NAME: ${{ steps.info.outputs.name }}
        run: echo "sha_short=$SHA_SHORT, new_tag=$NEW_TAG, new_tag_short=$NEW_TAG_SHORT, name=$NAME"

  build-server:
    needs:
      - prepare
      - ci
      - ci-server
      - ci-collect-info
    if: |
      !failure() &&
      needs.ci-server.result == 'success' &&
      (
        (github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'release' || startsWith(github.ref_name, 'release/'))) ||
        inputs.force_deploy_server
      )
    uses: ./.github/workflows/build_server.yml
    with:
      sha_short: ${{ needs.ci-collect-info.outputs.sha_short }}
      new_tag: ${{ needs.ci-collect-info.outputs.new_tag }}
      new_tag_short: ${{ needs.ci-collect-info.outputs.new_tag_short }}
      name: ${{ needs.ci-collect-info.outputs.name }}
      sha: ${{ github.sha }}
    secrets: inherit

  deploy-server-oss:
    needs: build-server
    uses: ./.github/workflows/deploy_server_nightly.yml
    secrets: inherit