name: ci-server
on:
  workflow_call:
env:
  GO_VERSION: "1.24.10"
jobs:
  ci-server-lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.64
          install-mode: goinstall
          working-directory: server
          args: --timeout=5m

  ci-server-test:
    runs-on: ubuntu-latest
    services:
      mongo:
        image: mongo:5-focal
        ports:
          - 27017:27017
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache-dependency-path: server/go.sum
      - name: test
        working-directory: server
        run: go test ./... -v -race
        env:
          REEARTH_DB: mongodb://localhost
      - name: Run go generate
        run: |
          make generate
        working-directory: server
      - name: Check for changes in generated files
        run: |
          git diff --exit-code